.env
service/api-key.json
.gitignore

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
amplify/cli.json
amplify/team-provider-info.json
amplify/backend/backend-config.json
amplify/backend/function/submitReport/submitReport-cloudformation-template.json
amplify/backend/function/getDriveFileInfo/getDriveFileInfo-cloudformation-template.json
amplify/backend/function/getReport/getReport-cloudformation-template.json
amplify/backend/function/getSubjectList/getSubjectList-cloudformation-template.json
amplify/backend/function/submitReportOld/submitReportOld-cloudformation-template.json
amplify/backend/function/getDriveFileInfo/Pipfile.lock
amplify/backend/function/getReport/Pipfile.lock
amplify/backend/function/submitReport/Pipfile.lock
amplify/backend/function/submitReportOld/Pipfile.lock
amplify/backend/function/getSubjectList/Pipfile.lock
